<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="QLBH_Connection" 
             connectionString="Server=.\SQLEXPRESS;Database=QuanLyBanNuocGiaiKhatDB;Trusted_Connection=True;TrustServerCertificate=True;" 
             providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
</configuration>
